* , *::before , *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

body{
  overflow-x: hidden;
  font-family: 'Darker Grotesque', 'Noto Sans', sans-serif ,'Peralta' , cursive , 'Roboto' , 'Permanent Marker';
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--color-black);
}
li{
  list-style:none ;
}
a{
  text-decoration: none;
  color: inherit;
}

/* color - variables */

:root {
  --primary-color: #d9d9d9;
  --secondary-color: #6c757d;
  --color-black : #000000 ; 
  --color-white : #fff ; 
}

/* globals */

.container {
  width: 100%;
  margin-inline: auto;
}
.container--inner{
  max-width: 880px;
  margin-inline: auto;
  width: 100%;
}
.img-fluid{
  max-width: 100%;
  height: auto;
}

section{
  margin-bottom: 10.1rem;
}





@media (max-width: 768px) {
  .container , .container--inner{
    max-width: 768px;
    width: 100%;
    padding-inline: 10px;

  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
    width: 1005;
    padding-inline: 10px;
  }
}

@media (max-max-: 1200px) {
  .container {
    max-width: 1250px;
    width: 100%;
    padding-inline: 15px;
  }
}



/* utilities */

h1{
  color: var(--primary-color);
}

h2.heading-primary{
  font-size:3.6rem ;
  font-weight: 700;
  text-align: center;
  background-color: var(--primary-color);
  padding-block: 2rem;
}

h2.heading-button{
  font-size:5.6rem ;
  font-weight: 700;
  text-align: center;
  line-height: 1.6;
  margin: 2rem 0 5rem 0;
  background-color: var(--primary-color);
  border-radius: 5rem;
}

h3.heading-primary{
  font-size:5.6rem ;
  font-weight: 700;
  text-align: center;
  line-height: 1.6;
  margin-block: 3rem;
}

h2.bg-black{
  font-size: 2.4rem;
  font-weight: bold;
  padding-block: 2rem;
  color: var(--color-white);
  background:var(--color-black);
  text-align: center;
  width: 70%;
}

h2.bg-black:last-of-type{
  align-self: flex-end;
}



/* 
h3.heading__underline {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.8;
  padding-bottom: 0.2rem;
  border-bottom: 3px solid var(--color-black); */
/* } */

.button__primary{
    width: 90%;
    padding-inline:3rem;
    padding-block: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 30px;
    cursor: pointer;
    display: inline-block;
    font-size: 2.2rem;
    align-self: center;

    color: var(--color-white);
    border: 3px solid var(--color-black);
    background-image: -webkit-linear-gradient(30deg, var(--color-black) 50%, transparent 50%);
    background-image: linear-gradient(30deg, var(--color-black) 50%, transparent 50%);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 500ms ease-in-out;
    transition: background 500ms ease-in-out;
}

.button__primary:hover {
  background-position: 100%;
  color: var(--color-black);
}

p{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.text--center{
  text-align: center;
}

.flex{
  display: flex;
}

@media (max-width:576px){
  h2.heading-primary{
    font-size: 2rem;
  }
  h3.heading-primary{
    font-size: 2.6rem;
  }
  p{
    font-size: 1.6rem;
  }
  h2.heading-button{
    font-size: 2.4rem;
    padding-block: 2rem;
    padding-inline: 1rem;
  }
}





/* content-header */
header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: transparent;
}
.header__wrapper{
  width: 100%;
  min-height: 12vh;
  padding-top: 2rem;
  padding-inline: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

}



.header__features{
  display: flex;
  gap: 3.5rem;
}

.header__feature-breadcrumb{

  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 1rem;
  cursor: pointer;
}

.header__feature-breadcrumb > *{
  width: 5rem;
  height: 0.2rem;
  display: block;
  background-color: var(--color-black);
  
}

.header__feature-breadcrumb > *:not(:last-of-type){
  margin-bottom: 1.5rem;
}

.header__nav{

  color: var(--color-white);
  opacity: 0.7;
  backdrop-filter: blur(3px);
  margin-top:3rem;
  position: relative;
  background-color: var(--color-black);

}

.navbar > .container > .nav__links{

  width: 100%;
  padding-block: 3rem;
  padding-inline: 1.5rem;
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  position: relative;

}


.nav__link{
  position: relative;
}

.nav__link > a{
  
  display: inline-block;
  line-height: 3.5rem;
  font-weight: bolder;
}

.nav__link > a::after{
  position: absolute;
  content: "/";
  top: 0;
  right: -3.5rem;
  font-size: 3rem;
  font-weight: bold;

}

@media (max-width : 768px){
  .header{
    position: fixed;
    z-index: 4;
    transition: background 0.2s ease-in-out;
    opacity: 0.9;
    /* background-color: var(--primary-color); */
  }
  .header__wrapper{
    padding-inline: 1rem;
    visibility: hidden;
    padding-block: 1.2rem;
    transition: visibility 0.4s ease-in-out;

  }

  .header__logo > img {
    width: 125px;
  }


  .header__nav{
    display: none;
  }
  .navbar > .container > .nav__links{
    font-size: 1.2rem;
    padding-inline: 0.5rem;
    padding-block: 1rem;
    display: none;

  }
}

/* Hero */
.hero{
  position: relative;
}

.hero > * > img {
  max-width: 579px;
  height: 100vh;
  margin-inline: auto;
  filter: sepia(0.10);
}

.hero__left-intro{
  width: 37%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  flex-direction: column;
  z-index: 4;
}

.cross{
  display: flex;
  align-self: center;
  gap: 30px;
  position: relative;
  min-height: 4rem;
}

.cross >span{
  display: block;
  position: absolute;
  left: 50%;
  width: 5px;
  height: 4rem;
  background: var(--color-black);
}


.cross>span:first-of-type{

  transform: rotate(45deg);
}


.cross>span:last-of-type{

  transform: rotate(-45deg);
}

@media (max-width : 768px){
  .hero__left-intro {
    width: 85%;
    opacity: 0.8;
  }
}




/* influencer */

.influencer h2.heading-primary{
  position: relative;
}

.arrow{
  display: flex;
  width: 100%;
  justify-content: center;
}
.arrow > img{
  margin-top: 13px;
  transform: rotate(90deg);
  align-self: center;
  max-height: 180px;
}

.influencer__article{
  
  padding-left: 4.2rem;
  margin-bottom: 10rem;
}

@media (max-width : 768px){
  .influencer__article{
    padding-left: 0rem;
  }

  .arrow{
    width: 75%;
    margin-inline: auto;
  }
  .arrow > img {
    max-height: 100px;
    transform: rotate(90deg) translateX(-6px);
  }
}


/* problem */
ul.problem__lists{
  font-size: 2.4rem;
  font-weight: 700;
  max-width: 70%;
  margin-inline: auto;
}


ul.problem__lists > li {
  list-style: square;
}
ul.problem__lists > li:not(:last-of-type) {
  margin-bottom: 4rem;
}

@media (max-width:768px){
  ul.problem__lists{
    font-size: 1.6rem;
    max-width: unset;
    padding-left: 2.5rem;
  }
  ul.problem__lists > li:not(:last-of-type) {
    margin-bottom: 2rem;
  }
}


/* point */
article.problem,article.point{
  margin-bottom: 4rem;
}
.point__desc{
  font-size: 2.6rem;
  font-weight: bolder;
  line-height: 1.6;
  margin-bottom: 5rem;
}

@media (max-width:768px){
  .point__desc{
    font-size: 2rem;
  }
}



/* conversion */

.conversion{
  margin-bottom: 9rem;
}

.conversion h2.heading-primary{
  padding-block: 7rem;
  margin-bottom: 7rem;

}

.mask{
  position: absolute;
  background: url(./img/background/conversion-bg-min.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: opacity(0.2) brightness(0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.conversion__row-wrapper{
  position: relative;
  padding: 3.5rem 3.5rem 7rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  filter: opacity(1) ;
  
}

.conversion__row{
  padding: 2rem 2rem 7rem;
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 6.5rem;
  background: var(--primary-color);
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));;
}

.conversion__row:nth-child(even){
  align-self: flex-start;
}

.conversion__row:nth-child(odd){
  align-self: flex-end;
}


.conversion__row > .list__disc{
  margin-left: 8rem;
}



.conversion__row > .list__disc > li {
  list-style: square;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

h3.heading__conversion{
  display: flex;
  align-items: center;
}

h3.heading__conversion>span{
  display: inline-block;
  font-family: 'Roboto Slab';
}

h3.heading__conversion>span:first-of-type{
  font-size: 4.8rem;
  font-weight: 900;
  margin-right: 2rem;
}

h3.heading__conversion>span:last-of-type , h3.heading__underline{
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.8;
  padding-bottom: 0.2rem;
  border-bottom: 3px solid var(--color-black);
}

@media (max-width : 768px) {
  .conversion h2.heading-primary{
    padding-block: 3.5rem;
    margin-bottom: 3.5rem;
  }

  .conversion__row-wrapper{
    padding-inline: 1rem;
  }

  .conversion__row{
    width: 100%;
    opacity: 0.6;
    gap: 4rem;
    padding: 2rem 2rem 4rem;
  }
  h3.heading__conversion>span:last-of-type, h3.heading__underline {
    font-size: 1.8rem;
  }
  .conversion__row > .list__disc {
    margin-left: 2.5rem;
  }

  .conversion__row > .list__disc > li {
    font-size: 1.6rem;
  }
}


/* merit */

.merit{
  margin-bottom: 8rem;
}

.card__row{
  width: 80%;
  margin-inline: auto;
  margin-bottom: 2rem;
  display: flex;
  gap: 3rem;
}

.card__column > .heading__underline {
 font-size: 2rem; 
 font-weight: 900;
 margin-inline: auto;
 padding-inline: 2rem;
 width: 100%;
 text-align: center;
}

.card__column > p {
  margin-top: 5rem;
  text-align: center;
}

.card__column{
  background: var(--primary-color);
  flex-grow: 1;
  width: calc(100% / 2 - 30px);
  padding: 4rem 2rem;

}



/* conversion inquiry */

.conversion-inquiry h2.heading-button { 

    margin-top: 9rem;
    margin-bottom: 0;
}

.event__lists{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 12rem;
}

.event__list{
  display: flex;
  background-color: var(--primary-color);
  overflow: hidden;
}

.event__icon{
  flex : 1 1 25%;
}
.event__icon a {
  display: block;
}
.event__icon  img {
  height: 270px;
  object-fit: cover;
  -o-object-fit: cover;
  object-position: center;
  -o-object-position: center;
  transition: 0.4s ease-in-out;
}
.event__icon img:hover {
  transform: scaleY(1.2);
  -o-transform: scaleY(1.2);
  
}
.event__desc{
  flex : 1 1 75%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}
.event__desc > p {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 0;
}

.news__list{
  background: var(--color-black);
  padding: 2rem;
}

.news__list:not(:last-of-type){
  margin-bottom: 4rem;
}

.news__list > a {
  display: flex;
  gap: 3rem;
}

.news__date {
  font-size: 4rem;
  flex: 1 1 30%;
  text-align: center;
  padding: 0.5rem;
  background-color: var(--color-white);
  color: var(--color-black);
  margin-bottom: 0;
}

.news__title  { 
  font-size: 1.8rem;
  flex: 1 1 70%;
  color: var(--color-white);
  align-self: center;
  text-decoration: underline;
}

/* join event */
.join-event{
  margin-block: 10.1rem;
}

.event__card-lists{
  display: flex;
  gap: 3rem;
}

.event__card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% / 3 - 3rem);
  padding: 2rem 2rem 6.5rem 2rem;
  height: 77.3rem;
}
.event__card img{
  height: 258px;
}
.event__card p {
  text-align: center;
  margin-bottom: 0;
}



/* inquires */
.inquires{
  margin-bottom: 10.1rem;
}


